services:
  app_blue:
    image: ${IMAGE}
    depends_on:
      - ${FPM_HOSTNAME_BLUE}
    environment:
      - PORT=${HTTP_PORT}
      - FPM_HOST=${FPM_HOSTNAME_BLUE}
      - FPM_PORT=${FPM_PORT}
    volumes:
      - ${APP_BLUE_FILE}:${DEFAULT_NGX_CONF_FILE}:ro
      - ${PHP_BLUE_FILE}:${PHP_CONF_FILE}:ro
    networks:
      - ${NET_NAME}

  fpm_blue:
    build: Dockerfile_blue
    environment:
      - DB_PASS=${DB_PASS}
      - DB_USER=${DB_USER}
      - DB_NAME=${DB_NAME}
      - DB_TABLE=${DB_TABLE}
      - DB_HOST=${DB_HOST}
    volumes:
      - ${PHP_BLUE_FILE}:${PHP_CONF_FILE}:rw
    networks:
      - ${NET_NAME}


networks:
  app_network: # Need to be edited with ${NET_NAME}
    driver: bridge
